<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VS-code</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <div class="main">
    <nav></nav>
      <div class="left">
          <div class="left-l">
              <div class="left-l-part1">
                <i class="ri-file-copy-line"></i>  
                <i class="ri-search-line"></i>
                <i class="ri-links-fill"></i>
                <i class="ri-calendar-close-line"></i>
                <i class="ri-qr-code-line"></i> 
              </div>
              <div class="left-l-part2">
                <i class="ri-user-line"></i>
                <i class="ri-settings-5-line"></i>
              </div>
          </div>
      </div>
      <div class="right">
        
      </div>
  </div>
</body>
</html>